body,
html {
  background: #212121;
  width: 100%;
  height: 100%;
  letter-spacing: 1.2px;
}

.main {
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding-top: 100px;
}

.parallax1 {
  background: url(https://i.yapx.ru/QrZJR.jpg)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  margin-top: -35px;
}

.parallax2 {
  background: url(https://i.yapx.ru/QrZfS.png)no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
}

.content {
  width: 100%;
  height: 270%;
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  box-sizing: border-box;
}

.content h2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #000;
  color: #fff;
  text-align: Center;
}

